@import "../../App.scss";

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #938e8e;
    filter: blur(1px) brightness(0.5);
}

.cart-container {
    position: relative;
    z-index: 2;
    color: white;
    display: flex;
    justify-content: space-between;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    margin: 12px;
}

.cart-item-info {
    display: flex;
    gap: 12px;
    align-items: center;
}

.close-cart-btn {
    @include ButtonStyle($primaryColor, $secondaryColor);
    border: 2px solid #000;
    border-radius: 4px;
    padding: 4px 8px;
}

.remove-from-cart-btn {
    @include ButtonStyle($primaryColor, $secondaryColor);
    border: 2px solid #000;
}

.clear-cart-btn {
    @include ButtonStyle($primaryColor, $secondaryColor);
    border: 2px solid #000;
}