$primaryColor: #F14A1B;
$secondaryColor: #EEE5D6;

@mixin ButtonStyle($color, $backgroundColor) {
  padding: 8px 14px;
  color: $color;
  background-color: $backgroundColor;
  margin: 4px;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100%;
}

.app-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  span:hover {
    cursor: pointer;
  }
}

.app-header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}